QPushButton {
	background-color: #644E76;
	border: none;
	border-radius: 18px;
	icon: url("./res/icons/add-normal.png");
	icon-size: 32px;
}

QPushButton::hover {
	background-color: #6C557E;
	icon: url("./res/icons/add-hover.png");
}

QPushButton::pressed {
	background-color: #604973;
	icon: url("./res/icons/add-select.png");
}
