QPushButton {
	border: none;
    background: transparent;
	icon: url("./res/icons/ui-menu-grid-normal.png");
	icon-size: 64px;
}

QPushButton::hover {
	icon: url("./res/icons/ui-menu-grid-hover.png");
}

QPushButton::pressed {
    icon: url("./res/icons/ui-menu-grid-select.png");
}
