QPushButton {
	border: none;
	padding: 0px;
    icon: url("./assets/icons/chevron-right-rounded-option-normal.png");
    icon-size: 32px;
}

QPushButton::hover {
    icon: url("./assets/icons/chevron-right-rounded-option-hover.png");
}

QPushButton::pressed {
    icon: url("./assets/icons/chevron-right-rounded-option-select.png");
}