QPushButton {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0.663415 rgba(131, 82, 126, 255), stop:1 rgba(103, 65, 99, 255));
	border-right: 2px solid #DF7C7C;
	border-radius: 0px;
	color: #CCA8C8;
}