QPushButton {
    border: none;
    background: transparent;
    icon: url("./res/icons/stats-normal.png");
    icon-size: 48px;
}

QPushButton::hover {
    icon: url("./res/icons/stats-hover.png");
}


QPushButton::pressed {
    icon: url("./res/icons/stats-select.png");
}