QPushButton {
	background-color: #73629A;
	color: #D6C1E5;
	font-family: "Hack";
	font-size: 18px;;
	font-weight: bold;
	padding: 15% 0px 15% 0px;
	border-radius: 15%;
}

QPushButton::hover {
	background-color: #8B7AB1;
}